
@{
    ViewBag.Title = "Detay";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-8">
            <!--MakaleListesi-->
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="/Content/images/@ViewBag.makale.Resim" alt="Card image cap" height="300">
                    <div class="card-body">
                        <h5 class="card-title">@ViewBag.makale.Baslik</h5>
                        <p class="card-text"> @ViewBag.makale.Aciklama</p>
                    </div>

                </div>
            </div>

            <br />
        </div>
        <div class="col-md-4">
            <!--KategoriListesi-->
            @Html.Action("KategoriListesi", "Kategori")
            <br />
            @Html.Action("EnCokOkunan", "Home")
        </div>

    </div>

</div>

